*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0;
}

hr{
    height: 3px;
    width: 80%;
    background-color: rgb(4, 4, 112);
}

body{
    background-color: rgb(58, 58, 235);
}

#formulario{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    height: 800px;
    border-radius: 50px;
    border: 2px solid rgb(4, 4, 112);
    align-items: center;
    margin-left: 30%;
    margin-top: 4%;
}

.label{
    font-size: 20px;
}

.input{
    height: 50px;
    width: 100%;  
    border: 2px solid rgb(58, 58, 235);
    border-radius: 10px;
    font-size: 20px;
}

#endereco{
    display: flex;
}

#estado{
    font-size: 20px;
}

#botoes{
    display: flex;
    justify-content: space-between;
}

#cadastro{
    width: 180px;
    height: 40px;
    font-size: 25px;
    background-color: white;
    border: 2px solid rgb(4, 4, 112);
    border-radius: 8px;
}

#cadastro:hover{
    background-color: rgb(4, 4, 112);
    color: white;
    cursor: pointer;
}

#limpar{
    width: 180px;
    height: 40px;
    font-size: 25px;
    background-color: white;
    border: 2px solid rgb(4, 4, 112);
    border-radius: 8px;
}

#limpar:hover{
   background-color: rgb(4, 4, 112);
    color: white; 
}