*{
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    height: 3px;
    width: 80%;
    background-color: rgb(4, 4, 112);
}

body{
    background-color: rgb(58, 58, 235);
}

#formulario{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    height: 500px;
    border-radius: 50px;
    border: 2px solid rgb(4, 4, 112);
    align-items: center;
    margin-left: 30%;
    margin-top: 4%;
}

#form{
    margin-top: 30px;   
}

#labelNome, #labelSenha{
    font-size: 20px;
}

#nome, #senha{
    height: 50px;
    width: 400px;  
    border: 2px solid rgb(58, 58, 235);
    border-radius: 10px;
    font-size: 20px;
}

#botoes{
    display: flex;
    justify-content: space-between;
}

#entrar{
    width: 100px;
    height: 40px;
    font-size: 25px;
    background-color: white;
    border: 2px solid rgb(4, 4, 112);
    border-radius: 8px;
}

#entrar:hover{
    background-color: rgb(4, 4, 112);
    color: white;
}

#limpar{
    width: 180px;
    height: 40px;
    font-size: 25px;
    background-color: white;
    border: 2px solid rgb(4, 4, 112);
    border-radius: 8px;
}

#limpar:hover{
   background-color: rgb(4, 4, 112);
    color: white; 
}