:root{

    --cinzabg: #131313;
    --cinzaborder: rgba(74, 68, 85, 0.3);
    --logofontcolor: #D2BBFF;

    --teste: red 2px solid;
    --teste1: cyan 2px solid;
    --teste2: pink 2px solid;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}

body{
    background-color: var(--cinzabg);
}

.logo {
    color: var(--logofontcolor); 
    font-size: 24px;
}

a{
    text-decoration: none;
}

.teste{
    border: var(--teste);
}

.teste1{
    border: var(--teste1);
}

.teste2{
    border: var(--teste2);
}

